# Configuración de OpenAI
OPENAI_API_KEY=tu_api_key_de_openai
OPENAI_EMBEDDING_MODEL=text-embedding-3-large
OPENAI_COMPLETION_MODEL=gpt-4o-mini-2024-07-18

# Configuración de Qdrant
QDRANT_HOST=maxi_qdrant   # Usa 'maxi_qdrant' si ejecutas la API en el mismo Docker network y localhost cuando ejecutas la API en tu máquina
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=qa_items

# Parámetros de búsqueda
QDRANT_SEARCH_LIMIT=10
QDRANT_SEARCH_SCORE_THRESHOLD=0.3

# Configuración general
LOG_LEVEL=INFO